body, html {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

input, textarea {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: calc(100% - 10px); /* Adjust width to account for padding or borders if necessary */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ac0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #390377;
}

h1 {
  color: #333;
}

.header {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

.subheader {
  text-align: center;
  font-size: 31px;
  color: #666;
  margin-bottom: 80px;
}

input[type="text"], textarea {
  border: 2px solid #ccc;  /* Default border color */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  width: 100%;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #000000; /* Green when focused */
}

/* Specific color for question input box */
input[type="text"] {
  border-color: #4CAF50; /* Green border */
}

/* Specific color for document URLs textarea */
textarea {
  border-color: #FFA500; /* Orange border */
}

.output-container {
  width: 100%;              /* Full width */
  max-width: 600px;         /* Maximum width */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
  margin: auto;             /* Centering the container */
  text-align: center;       /* Centering the text */
}

.output-container h1 {
  margin-bottom: 20px;      /* Space below the header */
}

.facts-container {
  text-align: left;         /* Align text to the left within the container */
  padding: 20px;
}

.facts-container ul {
  list-style-type: disc;    /* Bullet points */
  padding-left: 20px;       /* Proper padding for bullet points */
}

.facts-container li {
  margin-bottom: 10px;      /* Space between items */
  font-size: 16px;          /* Readable text size */
  line-height: 1.6;         /* Adequate line height for readability */
}